<% include partials/header%>
<div class="w-75 mt-5 mx-auto row">
<div class="col-md-7 cart_items">	
<%if(cart_items){%>
	<%for (var i=0;i<cart_items.length;i++){%>
	<div class="card mb-3 p-3" style="max-width: 540px;">
	  <div class="row no-gutters">
	    <div class="col-md-4">
	      <img src="<%= cart_items[i].movie_poster%>" class="card-img" alt="..." height=150px >
	    </div>
	    <div class="col-md-5 mx-3">
	    	<b><p class="card-text mb-n1">Blu-ray DVD</p></b>
	        Quantity: <input type="number" name="quantity"  min="1" max="5" step="1" value='1'class="form-control mb-1 quantity<%=i+1%>" id="<%=i+1%>">
	        Price: <input type="number" name="price" disabled value="299" class="form-control price<%=i+1%>">
	    </div>
	  </div>
	  <h6 class="card-title mt-2 mb-n1 name<%=i+1%>"><%=cart_items[i].movie_name%></h6>
	</div>
	<%}%>
<%} else {%>
<p>Your cart is empty</p>
<%} %>
</div>
<div class="col-md-5 address">
<h2 class="mb-5">TOTAL: <%if(cart_items){%><span class="float-right total"><%=299*cart_items.length%>/-</span><%}%></h2>
<form method="POST" action="/checkout" id="myForm">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email_id">Email</label>
      <input type="email" class="form-control" name='email'id="email_id" placeholder="Email" required>
    </div>
    <div class="form-group col-md-6">
      <label for="phone_number">Phone number</label>
      <input type="tel" name="phone_number" value=""placeholder="phone Number" pattern="[6789]{1}[0-9]{9}" minlength="10" maxlength="10" required class="form-control" id="phone_number">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Shipping Address</label>
    <input type="text" class="form-control" name="address1"id="inputAddress" placeholder="1234 Main St" required>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" name="address2"id="inputCity" required>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
		<input type="text" class="form-control" name="address3"id="inputState" placeholder="Your State" required>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" name="address4"id="inputZip" required>
    </div>
  </div>
  <%if(cart_items){%><button type="submit" class="btn btn-primary checkout">Check Out</button><%}%>
  <p class="text-danger"><u>Note:</u> The order will be through COD only.</p>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thanks for shopping with us</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You will be recieving a confirmation mail shortly
        Redirecting to home page... 
      </div>
    </div>
  </div>
</div>
</form>
</div>
</div>
<script type="text/javascript">
  <%if (cart_items){%>
	var total  = 299*<%=cart_items.length%>;
  var cart_items= {};
  var oldvalue = 1
	$( ".cart_items" ).on("change",function(e) {
		if(e.target!=e.currentTarget)
  		{
        var price = document.querySelector('.price'+e.target.id);
        var name  = document.querySelector('.name' +e.target.id).textContent;
        if(oldvalue<document.querySelector('.quantity'+e.target.id).value)
        {
          price.value = parseInt(price.value)+299
          total+=299
        }
        else if(oldvalue>document.querySelector('.quantity'+e.target.id).value){
          price.value = parseInt(price.value)-299
          total-=299
        }
  			$('.total').text(total)
        cart_items[name] = parseInt(price.value)
        oldvalue = document.querySelector('.quantity'+e.target.id).value;
      }
      document.cookie = 'cart_items='+JSON.stringify(cart_items)+';path=/';
  		e.stopPropagation()
	});
  <%for(var i=0;i<cart_items.length;i++){%>
    cart_items["<%=cart_items[i].movie_name%>"] = 299;
  <%}%>
  document.cookie = 'cart_items='+JSON.stringify(cart_items)+';path=/';
<%}%>
  $("#myForm").one("submit", function(e){
    e.preventDefault();
    $('#exampleModal').modal('show');
    setTimeout(function(){
        $("#myForm").submit();
    },5000);
  });
</script>
<% include partials/footer%>